 @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 24px;
    background-color: #151515;
    color: white;
}

main {
    overflow-y: scroll;
    height: 100svh;
    scroll-snap-type: y mandatory;
    overscroll-behavior-x: contain;
}

article {
    scroll-snap-align: start;
    height: 100svh;

    padding: 3rem;
}