 @import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 24px;
    background-color: #151515;
    color: white;
}

#root {
    scroll-snap-type: both mandatory;
    overscroll-behavior-x: contain;
}

article {
    min-height: 100svh;
}